# WebThoiTrangStrut
Source/out/artifacts/WebTrangPhuc_war_exploded/images/home/Thumbs.db
Source/out/artifacts/WebTrangPhuc_war_exploded/images/home/Thumbs.db
Source/out/artifacts/WebTrangPhuc_war_exploded/images/product-details/Thumbs.db
Source/out/artifacts/WebTrangPhuc_war_exploded/images/shop/Thumbs.db
Source/web/images/home/Thumbs.db
Source/web/images/product-details/Thumbs.db
Source/web/images/shop/Thumbs.db
